#mainMenu .nav-link {
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

#mainMenu .nav-link:hover {
  color: white;
  background-color: rgb(39, 39, 39);
}

#mainMenu .nav-link.active {
  color: white;
  background-color: rgb(39, 39, 39);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.548);
}

img {
  max-width: 100%;
  height: auto;
}
